<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roilka.roilka.question.dal.dao.zhihu.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roilka.roilka.question.dal.entity.zhihu.Users">
        <id column="id" property="id" />
        <result column="token" property="token" />
        <result column="index_url" property="indexUrl" />
        <result column="isinit" property="isinit" />
        <result column="from_id" property="fromId" />
        <result column="from_token" property="fromToken" />
        <result column="isparser" property="isparser" />
    </resultMap>

</mapper>
